body {
    font-family: Times New Roman;
}

/*for button shape and color*/

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #F9D8F6; 
    color: #fff;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #FADFF5; 
}

#add-book-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

/*for user input*/
input[type="text"], select {
    padding: 8px;
    margin-bottom: 10px;
    border: 0.5px solid #F6c7F0;
    border-radius: 4px;
}

#my-books {
    text-align: center;
}

/*input format*/
.book-entry {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.tab {
  overflow: hidden;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

/*input format*/
#login-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




